/*universal*/
*{
    box-sizing: border-box;
    color:whitesmoke;
}



/*Header style*/
.header
{
    background-color: black;
    background-image: url("../images/dish-food-cuisine.jpg");
    text-align: center;
    padding: 0.5vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Heading Styles*/
h1
{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    font-size: 5vw;
}

h2
{
    font-size: 3vw;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: none;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

/*Paragraph style*/
p
{
 font-size: 1vw;
}

/*Body style*/
body
{
    text-align: center;
}

/*Display which page is selected on menu bar*/
#currentPage
{
    background-color: whitesmoke; 
    color: black;
}

/*top navigation bar style*/
.topnav
{
    overflow: hidden;
    background-color: black;
    font-size: 2vw;
}

/*topnav links style*/
.topnav a
{
    float: left;
    display: block;
    text-align: center;
    padding: 1.5vw 1vw;
    text-decoration: none;
    width: 20%;
}

/*topnav links hover style*/
.topnav a:hover
{
    color: black;
    background-color: whitesmoke;
}

/*Home Page Main setion*/
.homePage
{
    background-color: black;
    float: left;
    width:100%;
    overflow: hidden;
    background-image: url("../images/pexels-pixabay.jpg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    height:100vh;
}

.homePage h2
{
    font-size: 3em;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: none;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

/*Row attributes*/
.row:after
{
    content: "";
    display: table;
    clear: both;
}

/*Column attributes*/
.column
{
    float: left;
    width:33.33%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    height:100vh;
}

/*footer style*/
.footer
{
    text-align:center;
    padding: 1vw;
    font-size: 1.2vw;
    background-color: #000;
}

/*Map styles*/
.mapouter{position:relative;text-align:right;height:100%;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}

/*Small screen response*/
@media screen and (max-width:800px)
{
    .column
    {
        width:100%;
        height: 100vw;
    }

    .header
    {
        background-image: url("../images/dish-food-cuisine-mobile.jpg")
    }

    .homePage
    {
        background-image: url("../images/pexels-pixabay-mobile1.jpg");
        font-size: 1.5vh;
    }

    h1
    {
        font-size: 5vh;
    }
}




