/*universal box sizing*/
*{
    box-sizing: border-box;
}

/*Header style*/
.header
{
    background-color: black;
    background-image: url("../images/dish-food-cuisine.jpg");
    text-align: center;
    padding: 0.5vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Heading Styles*/
h1
{
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    font-size: 3vw;
}

h2
{
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
    font-size: 1.5vw;
}

p
{
    /*TODO: define paragraph style*/
}

/*Body style*/
body
{
    text-align: center;
}
/*Display which page is selected on menu bar*/
#currentPage
{
    background-color: whitesmoke; 
    color: black;
}

/*top navigation bar style*/
.topnav
{
    overflow: hidden;
    background-color: black;
    font-size: 2vw;
}

/*topnav links style*/
.topnav a
{
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 1.5vw 1vw;
    text-decoration: none;
    width: 20%;
}

/*topnav links hover style*/
.topnav a:hover
{
    color: black;
    background-color: whitesmoke;
}

/*Row attributes*/
.row:after
{
    content: "";
    display: table;
    clear: both;
}

/*Column attributes*/
.column
{
    float: left;
    width:33.33%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    height:32vw;
}

/*Map styles*/
.mapouter{position:relative;text-align:right;height:100%;width:100%;}
.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}

/*Small screen response*/
@media screen and (max-width:800px)
{
    .column
    {
        width:100%;
        height: 100vw;
    }

    .header
    {
        background-image: url("../images/dish-food-cuisine-mobile.jpg")
    }
}
/*footer style*/
.footer
{
    text-align:center;
    padding: 1vw;
    font-size: 1.2vw;
}

